%h2= article.name
%p
  = article.updated_at
  = link_to 'Show', article
  = link_to 'Edit', edit_article_path(article)
  = link_to 'Destroy', article, :data => { confirm: 'Are you sure?' }, :method => :delete
%p= article.content
%p= article.rendered

